.App {
    text-align: left;
    height: 100%;
    color: white;
}

body {
    background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
    background-size: cover;
}

.journal-input {
    height: 175px;
    width: 300px;
    align-self: center;
    /* grid-area: 3 / 3 / 4 / 4; */
    box-shadow: 0 0 15px hsla(0deg, 0%, 0%, 0.5);
}

.header {
    min-height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    padding: 10px;
    font-weight: 100;
    font-family: BrandonGrotesqueWeb-Thin, sans-serif;
    width: 100%;
    background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
}

.text {
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%, rgba(79, 3, 130, 1) 0%, rgba(2, 30, 145, 1) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text:hover {
    font-weight: 400;
}

.container {
    border-radius: 16px;
    min-height: 470px;
    width: 330px;
    margin: 5%;
    display: flex;
    box-shadow: 0 0 15px hsla(0deg, 0%, 0%, 0.5);
    background: linear-gradient(to right, #330867 0%, #30CFD0 100%);
    padding: 15px;
}

.card {
    display: flex;
    justify-content: center;
}

.journal-body {
    align-items: center;
    color: #fff;
    font-size: 1.55rem;
    font-weight: 300;
    background-color: black;
    min-height: 453px;
    text-shadow: 0 2px 3px hsla(0deg, 0%, 0%, 0.25);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 15px;
}

.submit-button {
    grid-area: 4 / 3 / 5 / 4;
    margin: 5px;
    height: 6vh;
    width: 16vw;
}

.description {
    text-align: center;
    padding-bottom: 35px;
}

.buttons {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.button {
    min-width: 125px;
    padding: 1.2em 1em;
    box-shadow: 0 0 5px;
    margin: 1em;
    border-radius: 12px;
    background-color: indigo;
    color: white;
}